.clients {
    padding-top: 94px;
    padding-bottom: 94px;
    
}

.clients-info {
display: flex;


}

.clients-info .clients-logo + .clients-logo {
    margin-left: 30px;
}




.clients-link {
    display: flex;
    align-items: center;
    width: 170px;
    height: 92px;
    justify-content: center;
    border:1px solid #AFB1B8; 
    border-radius:4px;
    transition: border-color 250ms var(--timingfunction);
    &:hover,
    &:focus {
    border-color: var(--accent);
  
}

}

.clients-icons {
    fill: #AFB1B8;
    transition: fill 250ms var(--timingfunction);
    
    
}


.clients-link:hover .clients-icons, 
.clients-link:focus .clients-icons{ 
    fill: var(--accent);
   
    
}


