.header {
    border-bottom: 1px solid #ECECEC;
    background-color: var(--headerbgc);
    
}

.header .container {
    display: flex;
   
}

.site-nav {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}




.nav__link {
    padding-top: 30px;
    padding-bottom: 30px;
    display: inline-block;
    font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
text-decoration: none;
color: #212121;
cursor: pointer;
transition: color 250ms var(--timingfunction);
}

.nav__link-current {
    padding-top: 30px;
    padding-bottom: 30px;
    display: inline-block;
    color: var(--accent);
    text-decoration: none;  
    transition: color 250ms var(--timingfunction);
}


.nav__link-current::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    opacity: 1;
    background-color: #2196F3;
    transition: opacity 2000ms var(--timingfunction);

}




.nav__link:hover,
.nav__link:focus {
    color: var(--accent);
}

.nav__item {
    position: relative;
    padding: 0px;
}


.nav__item + .nav__item {
    margin-left: 50px;
}




/* ------------------------Contacts------------------------ */


.link {

text-decoration: none;

}




.contacts {
    display: inline-flex;
    align-items: center;
    margin-left: auto;
}

.contacts__item + .contacts__item {
    margin-left: 50px;
}

.contacts__icon {
    margin-right: 10px;
    fill: currentColor;

}

.contacts__icon {
    margin-right: 10px;
    fill: currentColor;
}


.contacts__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms var(--timingfunction);
}

.contacts__link:hover,
.contacts__link:focus {
    color: var(--accent);
}