:root {
    --paragraphtextcolor: #757575;
    --titletextcolor: #212121;
    --accent: #2196F3;
    --cardsbcg: #FFFFFF;
    --teambcg: #F5F4FA;
    --headerbgc: #FFFFFF;
    --herobcg: #2F303A;
    --solutionsbcg: #FFFFFF;
    --worksbcg: #FFFFFF;
    --footerbcg: #2F303A;
    --timingfunction: cubic-bezier(0.4, 0, 0.2, 1);
}